/*bg-colors*/
/*font-colors*/
.search_searchbox, .search_container {
  margin-top: 15px; }

.search_result {
  background-color: #8BC34A;
  padding: 10px;
  margin: 10px 0;
  color: white; }
  .search_result p {
    font-weight: 700; }
    .search_result p span {
      font-weight: 300; }
  .search_result .search_result_join, .search_result .search_result_info {
    position: absolute;
    right: 20px;
    font-size: 36px; }
  .search_result .search_result_join {
    top: 10px; }
  .search_result .search_result_info {
    bottom: 10px; }

/*# sourceMappingURL=dashboard_search.css.map */
