//File created by Wesley Vanbrabant
//.own_rides scope: edited by Wesley Vanbrabant

/*bg-colors*/
$bgreen:#388E3C;
$bgreen-ripple:#C8E6C9;
$bgreenhover:#4CAF50;
$fgreenhover:#8BC34A;
$button-gen-green:#689F38;
$clight-green:#F0F4C3;
$light-primary-color:#B6B6B6;
$bpink:pink;

$P50:#e8f5e9;
$P100:#c8e6c9;
$P200:#a5d6a7;
$P300:#81c784;
$P400:#66bb6a;
$P500:#4caf50;
$P600:#43a047;
$P700:#388e3c;
$P800:#2e7d32;
$P900:#1b5e20;
$A100:#b9f6ca;
$A200:#69f0ae;
$A400:#00e676;
$A700:#00c853;


/*font-colors*/
$cwhite:white;
$cgrey:grey;
$cgreen:green;
$cgreenLight: #3fb621;
$cgreenDarker: #194a0d;

$semi:900;

.own_rides {
    text-align:left;
    background-color: $fgreenhover;
    padding: 10px;
    margin: 10px 0;
    color: $cwhite;

    p {
        font-weight: 700;

        span {
            font-weight: 300;
        }

    }

    .own_rides_remove, .own_rides_edit {
        position: absolute;
        right:20px;
        font-size:36px;
    }

    .own_rides_edit {
        top:10px;

    }

    .own_rides_remove {
        bottom:10px;
    }
}