<!-- Standard Validators -->
<ng-message class="md-accent" when="date">This must be a valid date (YYYY-MM-DD).</ng-message>
<ng-message when="email">This must be a valid email address.</ng-message>
<ng-message class="md-warn" when="required">This is required.</ng-message>
<ng-message when="time">This must be a valid time (HH:MM:SS).</ng-message>
