<!--
Created by: Seppe Beelprez
Edited by:
    Wesley Vanbrabant
        + Share Ride
            - Added "create ride" functionality entirely (Start, End, Seats, Date)
            - Added validation (Button lock until it works, validation on seats and validation on date)
        + Search Ride
            - Search ride functionality + looping all the rides
            - Further changed search filter to exclude rides you made yourself (so only rides by other users
            - Styling for the
 -->

<md-toolbar class="md-toolbar-overwrite">
    <h3 class="md-subhead">Dashboard Html</h3>
</md-toolbar>

<md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Share Rides" ng-app="app">
            <md-content class="md-padding">
                <div ng-controller="MainController"> <!--Begin Scope of MainController -->
                    <form name="form" ng-submit="createRide" class="css-form" novalidate>

                        <div layout layout-sm="column">

                            <md-input-container flex-gt-md="33" offset-gt-md="33" flex-gt-sm="50" offset-gt-sm="25">
                                <label>Start Point</label>
                                <input type="text" ng-model="start" name="shareStart" required="">

                                <ng-messages>
                                    <div ng-show="form.$submitted || form.shareStart.$touched">
                                        <div ng-show="form.shareStart.$error.required">Where do you start?</div>
                                    </div>
                                </ng-messages>
                            </md-input-container>

                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex-gt-md="33" offset-gt-md="33" flex-gt-sm="50" offset-gt-sm="25">
                                <label>End Point</label>
                                <input type="text" ng-model="end" name="shareEnd" required="">
                                <ng-messages>
                                    <div ng-show="form.$submitted || form.shareEnd.$touched">
                                        <div ng-show="form.shareEnd.$error.required">Where do you end?</div>
                                    </div>
                                </ng-messages>
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex-gt-md="33" offset-gt-md="33" flex-gt-sm="50" offset-gt-sm="25">
                                <label>Date</label>
                                <input type="datetime-local" ng-model="time" name="shareTime" required="" >
                                <ng-messages>
                                    <div ng-show="form.$submitted || form.shareTime.$touched">
                                        <div ng-show="form.shareTime.$error.required">When do you leave from {{start}} to {{end}}?</div>
                                    </div>
                                </ng-messages>
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex-gt-md="33" offset-gt-md="33" flex-gt-sm="50" offset-gt-sm="25">
                                <md-select placeholder="Seats" ng-model="seats" name="shareSeats" required="">
                                    <md-option ng-repeat="seats in totalSeats" name="shareSeats" value="{{seats.abbrev}}">{{seats.abbrev}}</md-option>
                                </md-select>
                                <ng-messages>
                                    <div ng-show="form.$submitted || form.shareSeats.$touched">
                                        <div ng-show="form.shareSeats.$error.required">Howmany seats do you have?</div>
                                    </div>
                                </ng-messages>
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex-gt-md="33" offset-gt-md="33" flex-gt-sm="50" offset-gt-sm="25">
                                <button type="submit" class="btn gen_button" ng-click="sendData()" ng-disabled="!start || !end || !seats || !time"> Create </button>
                            </md-input-container>
                        </div>
                    </form>
                </div><!-- End Scope of MainController-->
            </md-content>
        </md-tab>


        <md-tab label="Search Rides" ng-app="app">
                <div ng-controller="SearchRidesController" class="text-right">
                    <input ng-model="query" placeholder="Search" class="search_searchbox">
                    <div class="container-fluid" class="search_container">
                        <div class="row" class="search_row">
                            <div ng-repeat="ride in rides | filter : query | filter: {user_id : '!' + gottenId}" class=" col-lg-4 col-md-6 col-sm-6 col-xs-12 text-left search_result">
                                <p> <i class="fa fa-map-marker fa-2x"></i> Start: <span> {{ride.start}}</span> <i class="fa fa-arrow-right"></i> End: <span>{{ride.end}} </span></p>
                                <p> <i class="fa fa-clock-o fa-2x"></i> <span> {{ride.time}} </span></p>
                                <p> <i class="fa fa-user fa-2x"></i> Seats: <span> 0 / {{ride.seats}} </span></p>
                                <div class="search_result_join"><i class="fa fa-sign-in"></i></div>
                                <div class="search_result_info"><i class="fa fa-info-circle"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
        </md-tab>
    </md-tabs>
</md-content>
