@import "bootstrap/bootstrap.scss";

//scss pages per page for clarity -> implemented by Wesley Vanbrabant
@import "pages/dashboard_search.scss";
@import "pages/own_rides.scss";

/*bg-colors*/
$bgreen:#388E3C;
$bgreen-ripple:#C8E6C9;
$bgreenhover:#4CAF50;
$fgreenhover:#8BC34A;
$button-gen-green:#689F38;
$clight-green:#F0F4C3;
$light-primary-color:#B6B6B6;
$bpink:pink;
$test:blue;

$P50:#e8f5e9;
$P100:#c8e6c9;
$P200:#a5d6a7;
$P300:#81c784;
$P400:#66bb6a;
$P500:#4caf50;
$P600:#43a047;
$P700:#388e3c;
$P800:#2e7d32;
$P900:#1b5e20;
$A100:#b9f6ca;
$A200:#69f0ae;
$A400:#00e676;
$A700:#00c853;


/*font-colors*/
$cwhite:white;
$cgrey:grey;
$cgreen:green;
$cgreenLight: #3fb621;
$cgreenDarker: #194a0d;

$semi:900;

$trophyImage:140px;



/* Header is located at nav.blade.php */

#header {
  background-color: $bgreen;
//  padding: 0;

  .header-wrapper {
//    padding: 10px 0;
    margin: 0;

    ul {
      padding-left: 0;

      li {
        padding: 10px 0;
        text-align: center;
        list-style: none;

        a {
          color: $cwhite;
        }
      }

      li:hover {
        background-color: $bgreenhover;

        a {
           color: $fgreenhover;
        }
      }

      li.active {
        background-color: $bgreenhover;

        a.active {
          color: $fgreenhover;
        }
      }
    }
  }
}

#dashboard-content {
  .big-button {
    background-color: $bgreenhover;
    color: $cwhite;
    text-align: center;
    padding: 5% 0;
  }
}

.active_menu{
  background-color: #0000C2;
}

#auth-container {

  .auth_button {
    color: $cwhite;
    background-color: $bgreen;
    font-weight: 200;
    font-family: 'Helvetica Neue', sans-serif;
  }

  .extend_login_button{
    color: $fgreenhover;
  }
}

/* General overrided buttons */
.gen_button {
  color: $cwhite;
  background-color: $button-gen-green;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: 'Helvetica Neue', sans-serif;

}

/*content-container is located on every page where the content needs to be separated from the header (margin required)*/
.content-container{
  margin-top:40px;
  width:100%;



  /*for page: dashboard*/
  .dashboard-button{
    background-color:$bgreen;
    color:$cwhite;
    margin-bottom:30px;
    text-align:center;
    padding:40px;
  }

  /*for page:share_one*/
  .steps_title {
    text-align: center;
    color:$cgrey;
  }

  .steps_subtitle{
    color:$cgrey;
    margin-top:15px;
  }

  .txt-input{
    height:40px;
    margin-top:20px;

    .fa-map-marker{
      color:$cgreen;
    }
  }

  .button-next{
    background-color:$cgreen;
    color:$cwhite;
    font-weight:$semi;
    padding:10px 20px;
    width:100px;
  }


  /*for page:share_four*/
  .share-success{
    color:$cgrey;
    margin-top:70px;
    font-size:48px;
    text-align:center;
  }

  .btn-return-home{
    background-color:$cgreen;
    color:$cwhite;
    padding:10px 0 10px 0;
    margin-top:10px;
  }


  /* few overwrites for bootstrap.scss*/
  .row{
    margin-right:0;
    margin-left:0;
  }
}

.md-toolbar-overwrite{
  background-color: white;
}

md-toolbar{
  background-color: none;
}

md-toolbar>h1,
md-toolbar>h3{
  color: $light-primary-color;
  text-align: center;
}


#header>i,
.header-wrapper ul li a{
  color: #ffffff;
}

.header-wrapper ul li a:hover{
  color: $cgreenLight;
}

.link a{
  color: $cgreen;
}

.link a:hover{
  color: $cgreenLight;
  text-decoration: none;
}


html{
  font-family: 'Helvetica Neue', sans-serif;
}

//button, .btn, .md-button, .auth_button {
//  font-family: 'Helvetica Neue', sans-serif;
//  font-weight: 100;
//}

/* All tabs override */
md-tabs .md-tab {
  color: $bgreen-ripple;
}

md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
  color: $bgreen;
}

md-tabs .md-tab .md-ripple-container {

}

.trophy{
  background-color: $bgreen;
  a{
    display: block;
  }
  img{
    width: 100%;
    height: auto;
  }
}

.img-resize {
    min-width:$trophyImage;
    width:$trophyImage;
    min-height:$trophyImage;
    height:$trophyImage;
}