<!--
Created by:
    Seppe Beelprez

Edited by:
    Wesley Vanbrabant
        - Created the scope (ng-app, ng-controller)
        - Added the repeat + the filter on repeat)
        - Added the markdown/layout (markdown as in HTML structure)
        - did stylesheets for it (see own_rides.scss)

-->

<md-toolbar class="md-toolbar-overwrite">
    <h3 class="md-subhead">Rides</h3>
</md-toolbar>


<md-content class="md-padding" ng-app="app">
    <div id="rides" ng-controller="OverviewController">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Own Rides">
                    <md-content clases="md-padding">
                        <div ng-repeat="ride in rides | filter: {user_id : gottenId }" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 own_rides">
                            <p> <i class="fa fa-map-marker fa-2x"></i> Start: <span> {{ride.start}}</span> <i class="fa fa-arrow-right"></i> End: <span>{{ride.end}} </span></p>
                            <p> <i class="fa fa-clock-o fa-2x"></i> <span> {{ride.time}} </span></p>
                            <p> <i class="fa fa-user fa-2x"></i> Seats: <span> 0 / {{ride.seats}} </span></p>
                            <div class="own_rides_remove"><i class="fa fa-times" ng-click="remove(ride.id)"></i></div>
                            <div class="own_rides_edit"><i class="fa fa-pencil" ng-click="goUpdate(ride.id)"></i></div>
                        </div>
                    </md-content>
            </md-tab>
            <md-tab label="Other Rides">
                <md-content class="md-padding">
                    <div ng-repeat="ride in rides | filter: {user_id : '!' + gottenId}" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 own_rides">
                        <p> <i class="fa fa-map-marker fa-2x"></i> Start: <span> {{ride.start}}</span> <i class="fa fa-arrow-right"></i> End: <span>{{ride.end}} </span></p>
                        <p> <i class="fa fa-clock-o fa-2x"></i> <span> {{ride.time}} </span></p>
                        <p> <i class="fa fa-user fa-2x"></i> Seats: <span> 0 / {{ride.seats}} </span></p>
                        <!--<div class="own_rides_remove"><i class="fa fa-times" ng-click="remove(ride.id)"></i></div>-->
                        <!--<div class="own_rides_edit"><i class="fa fa-pencil" ng-click="goUpdate(ride.id)"></i></div>-->
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</md-content>
