<!--
* Created by: Wesley Vanbrabant
* Made the entire repeat
-->
<md-toolbar class="md-toolbar-overwrite">
    <h3 class="md-subhead">Trophies</h3>
</md-toolbar>

<md-content class="md-padding" ng-app="app">
    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
        <md-tab flex="50" label="Trophies">
            <md-content class="md-padding" ng-controller="TrophiesController">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xs-6 text-center"  ng-repeat="trophy in trophies">
                            <img src='{{trophy.image}}' alt="tekst" class="img-resize" >
                            <p>{{trophy.display_text}}</p>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab flex="50" label="Leaderboard">
            <md-content class="md-padding">
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>

