<md-toolbar class="md-toolbar-overwrite">
    <h3>Profile</h3>
</md-toolbar>
<hr/>
<md-content class="md-padding">
    <form name="userForm">
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>First name</label>
                <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="theMax">
            </md-input-container>
        </div>

        <md-input-container flex>
            <label>Address</label>
            <input ng-model="user.address">
        </md-input-container>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>City</label>
                <input ng-model="user.city">
            </md-input-container>
            <md-input-container flex>
                <label>State</label>
                <input ng-model="user.state">
            </md-input-container>
            <md-input-container flex>
                <label>Postal Code</label>
                <input ng-model="user.postalCode">
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>Biography</label>
            <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
        </md-input-container>
    </form>
</md-content>
